- news ||= News.new
- new_record = news.id.present?
- form_url = new_record ? news_path(news.id) : news_index_path
- form_method = new_record ? 'patch' : 'post'
- submit_text = new_record ? 'Update' : 'Create'

= form_tag form_url, method: form_method do
  %p Title
  %p= text_field_tag 'news[title]', news.title
  %p Content
  %p= text_area_tag 'news[content]', news.content, size: '50x8'
  %p Date
  %p= datetime_field_tag 'news[date]', news.date
  :javascript
    $('#news_date').datetimepicker();
  %p= submit_tag submit_text
