- admin ||= false
.services-messages__item.services-messages__item_message_yes
  %h3.services-messages__title= news['title']
  %pre= markdown news['content']
  .services-messages__date= news['date']
  - if admin
    = link_to 'edit', edit_news_path(news['index'])
    = link_to 'delete', news_path(news['index']), method: :delete
