- admin ||= false
.service-messages__message
  %h3.service-messages__title= news.title
  %pre= markdown news.content
  .service-messages__date= news.date
  - if admin
    = link_to 'show', news_path(news.id)
    = link_to 'edit', edit_news_path(news.id)
    = form_tag news_path(news.id), method: :delete, style: 'display: inline-block' do
      = link_to 'delete', '#', onclick: 'this.parentNode.submit();return !1;'
