.heartbeat-page.container
  %h1.heartbeat-page__header= t(".heartbeat_header", default: "Сетевая доступность серверов, сервисов и подсистем портала")
  .services
    - @specs.each do |result|
      - percent = result.percent
      .services__item
        .services__status-img{class: "services__status-img_available_#{percent == 100 ? 'yes' : 'no'}"}
        .services__name= result.name
        .services__status-text
          - if percent == 0
            Работа приостановлена
          - elsif percent.nil?
            Нет данных
          - else
            = "Работает на #{percent}%"
  .services-messages
    %h2.services-messages__header= t(".errors_message", default: "Сообщения о неполадках")

    - if @news.present?
      - @news.each do |news|
        = render partial: 'news/news', locals: {news: news}

    - else
      -#Если нет сообщений
      .services-messages__item.services-messages__item_message_no
        %p В настоящие время сообщения о неполадках отсутствуют.
